.card.no-margin
  .card-content

    .row.border-collection
      %nav.white.black-text.z-depth-0
        .nav-wrapper
          .col.s12.m10
            = link_to 'Services',admin_services_path, class: "breadcrumb blue-text"
            = link_to 'ADD',new_admin_service_path, class: "breadcrumb black-text"
          .col.s12.m2.right-text
            = submit_tag 'Save', "data-disable-with": "Saving ...", class: 'deep-purple accent-4 btn', form: "new_service"
    .row
      .col.s12
        = render 'form'
