.col.s12.m6.full-height
  .card-content
    %div.full-height{style: "z-index: 3; background-image: url(#{featured_celebrity.portrait}); background-repeat: no-repeat; background-position: center; background-size: cover;"}
