.row.top-space
  .col.s12.center-align
    %span.bold.medium FEATURED CELEBRITIES
.row.top-space
  - @featured_celebrities.each do |featured_celebrity|
    .col.s12.m4
      .card
        .card-image
          = image_tag featured_celebrity.portrait
          %span.card-title= featured_celebrity.display_full_name
