.full-height.full-width{style: "background-image: url(#{@photograph.portrait});background-size: cover; background-repeat: no-repeat;"}
  %p.bold.medium.no-margin.white-text{style: "position: absolute; bottom: 4px; left: 9px;"}= @photograph.title.upcase
